@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h3> Welcome to the spaceship parking lot! before you begin. The parkinglot will not check if you have overstayed your time here.</h3>
<h3> Our software does not use timer watch to keep an eye on how long you have stayed. You can chose how long you want to stay at the parking lot </h3>